$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$info: #17a2b8;
$light: #f8f9fa;
$dark: #343a40;
$white: #ffffff;

$warning: #ffc107;
$warning-light: #fffbe6;
$warning-light-border: #ffe58f;
